BOT_TOKEN=8793893048:AAHqAx9_GC_Z2c93szeGkrGG8PyUT75-hkY

OWNER_ID=8873809799

DATABASE_URL=postgresql://postgres:ECCJBMCXHbvQZyuEwxVBgyLHPLuCflkF@tokaido.proxy.rlwy.net:47880/railway

REDIS_URL=redis://HOST:6379/0

TIMEZONE=America/Bogota

LOG_LEVEL=INFO
